@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@keyframes slide-in {
    from {
      height: 0px;
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      height: 100%;
      transform: translateY(0%);
      opacity: 1;
    }
  }

.button{
  background-color: white;
  color: black;
  transition-duration: 0.4s;
  font-size: 18px;
  font-family: Roboto Mono;
}
.button:hover {
  box-shadow: 0 7px 7px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: pink;
}
  .header {
    background: #FFFFFF;
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.6rem 5rem;
    color: white;
    z-index: 69;
    box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.75);
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    background-color: #101010;
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .active {
    color: var(--orange);
  }
  
  .nav-link {
    font-size: 1.15rem;
    font-weight: 200;
    color: black;
    transition: all 0.25s ease-in-out;
    padding: 0rem 1rem;
    font-family: Roboto Mono;
  }
  
  .nav-link:hover {
    color: goldenrod;
  }
  
  .logo{
    width: fit-content;
    height: 5.2vw;
  }
  
  .nav-link-logo {
    margin: -10px 0px;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  
  .hamburger {
    display: none;
  }
  
  .navbar-mobile {
    display: none;
  }
  
  @media (max-width: 1000px){
    .logo{
      font-size: 1.1rem;
    }
    .nav-link{
      font-size: 0.9rem;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .navbar {
      padding: 0.75rem 1.5rem;
    }
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.5s ease-in-out;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
  
    .nav-menu.active {
      left: 0;
    }
  
    .nav-item {
      margin: 2.5rem 0;
    }
  
    .hamburger {
      display: flex;
      align-items: center;
      margin-left: 10px;
      color: #101010;
      cursor: pointer;
    }
  
    .navbar-mobile {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      animation-name: slide-in;
      animation-duration: 500ms;
    }
  
    .nav-menu-mobile {
      display: flex;
      flex-direction: column;
    }
  
    .nav-link-mobile {
      font-size: 1.2rem;
      color: black;
      margin-bottom: 15px;
      font-family: Roboto Mono;
      transition: color,font-size 300ms ease-in-out;
    }
  
    .nav-link-mobile:hover {
      color: goldenrod;
      font-size: 1.5rem;
    }
    .nav-link-mobile-links{
        margin: 8px 0;
    }
  }

  