@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

.main_layout{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  max-width: 100%;
  min-height: 100vh;
  flex-direction: column;
}
.top{
  margin-top: 10%;
}
.hello{
  text-align: center;
  font-family: Sofia Sans;
  font-size: 32px;
}

