@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

.main_layout{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  max-width: 100%;
  min-height: 100vh;
  flex-direction: column;
}
.top{
  margin-top: 150px;
  margin-inline: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.regContainer{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.hello{
  text-align: center;
  font-family: Sofia Sans;
  font-size: 32px;
}
.illustration{
  height: 800px;
  width: auto;
  position: relative;
  top: -100px;
}

.errorContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.illustration2{
  min-width: 300px;
  height: auto;
  width: auto;
  max-width: 600px;
}
.centerAlign{
  text-align: center;
}

@media (max-width:800px) {

  .top{
    margin-top: 120px;
    margin-left: 30px;
  }
  .illustration{
    display: none;
  }
}

