.main_layout{
  display: flex;
  justify-content: center;
  align-content: space-between;
  max-width: 100%;
  flex-direction: column;
}

.Body_page{
  padding: 30% 10%;
  text-align: center;
}

.layout_header{
  background-color: hwb(46 4% 6%);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5vh 1.5vw;
}
.span_items {
  color: black;
  text-decoration: none;
  transition: text-decoration,color 500ms ease-in-out;
  padding: 0% 1vw;
}
.pages{
  display: flex;
  padding-right: 1vw;
}
.span_items:hover{
  text-decoration: overline;
  color: gray;
}

.layout_footer{
  text-align: center;
  background-color: hwb(199 4% 6%);
  padding: 2.5vh 1.5vw;
}

.internallink{
  color: rgb(15, 135, 247);
  text-decoration: none;
  transition: font-size,color 500ms ease-in-out;
}
.internallink:hover{
  color: rgb(16, 93, 182);
  font-size: 3.3vh;
}